# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
venv/
.venv/
.venv-build/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Env
backend/.env
frontend/.env

# Local data
data/

# IDE
.vscode/
.idea/
